body{
    text-align: center;
    background: skyblue;
    font-size: 25px;
    color:navy;
}
#drink-form{
    text-align: center;
}
/* #gifs-here{
    float: center;
} */
.gif{
    float: center;
    padding: 10px;
    
}
.drink, #add-drink{
    padding: 5px;
    font-size: 15px;
    margin: 0, 5px, 0, 5px;
}
