body{
    text-align: center;
    /* background: goldenrod;
    background-image: url('https://image.shutterstock.com/image-vector/happy-hour-burst-toasting-hands-450w-250561168.jpg'); */
    /* background-image: url('https://image.shutterstock.com/image-photo/glass-silver-tequila-served-neat-450w-139413500.jpg'); */
    background-image: url('http://riverstationrest.com/wp-content/uploads/2014/10/happy-hour.jpg');
    font-size: 25px;
    color: black;
    background-size: 100%;
    background-repeat: repeat;
    
}
#drink-form{
    text-align: center;
}
#gifs-here{
    display: flex;
    flex-wrap: wrap;
}
.gif{
    float: center;
    padding: 10px;
    
}
.drink, #add-drink{
    padding: 5px;
    font-size: 15px;
    margin: 0, 5px, 0, 5px;
}
