body{
    text-align: center;
    background: goldenrod;
    background-image: url('https://image.shutterstock.com/image-vector/happy-hour-burst-toasting-hands-450w-250561168.jpg');
    font-size: 25px;
    color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
#drink-form{
    text-align: center;
}
/* #gifs-here{
    float: left;
} */
.gif{
    float: center;
    padding: 10px;
    
}
.drink, #add-drink{
    padding: 5px;
    font-size: 15px;
    margin: 0, 5px, 0, 5px;
}
